<html lang="pt-bt">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body ng-app="FileUtilities" ng-controller="fileUtilitiesCtrl">
{{ elemento_base }}

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-envelope"></i></span>
            <input placeholder="Elemento base" id="elemento_base" ng-model="elemento_base"> <br>

        </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-envelope"></i></span>
            <input placeholder="Elemento base" id="elemento_base" ng-model="elemento_base"> <br>

        </div>
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<input id="file" type="file">

<input placeholder="Quebra de Linha" id="quebra_linnha"> <br>
<input placeholder="Quebra de Atributo" id="quebra_atributo"> <br>
<textarea id="regra_saida" placeholder="regra de saida"></textarea> <br>
<input id="file" type="file"> <br>
<input type="submit" value="Processar" ng-click="processar()">

<script type="text/javascript" src="/FileUtilities/static/controller.js">

</script>
</body>


</html>















